.test {
width: 400px; 
height: 50px;  
border-radius: 30px;  
position: relative; 
animation: ili 10s infinite;
}
@keyframes ili {
        0% {left: 0px;} 
        25%  {left: 500px; background: black;} 
        50% {left: 550px;}
        75%  {left: 50px;} 
        100% {left: 0px; background: rgb(5, 88, 5);} 
        } 
